<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <h1 class="mt-4">GuestBook List Page
            <span>      <!--register 버튼 ( 새로운 글 등록 버튼 )-->
                <a th:href="@{/guestbook/register}">
                    <button type="button" class="btn btn-outline-primary">REGISTER
                    </button>
                </a>
            </span>
        </h1>

        <form action="/guestbook/list" method="get" id="searchForm">  <!--검색타입, 키워드 입력 후 검색 하는 버튼 추가-->
            <div class="input-group">
                <input type="hidden" name="page" value = "1">
                <div class="input-group-prepend">
                    <select class="custom-select" name="type">
                        <option th:selected="${pageRequestDTO.type == null}">-------</option>
                        <option value="t" th:selected="${pageRequestDTO.type =='t'}" >제목</option>
                        <option value="c" th:selected="${pageRequestDTO.type =='c'}"  >내용</option>
                        <option value="w"  th:selected="${pageRequestDTO.type =='w'}" >작성자</option>
                        <option value="tc"  th:selected="${pageRequestDTO.type =='tc'}" >제목 + 내용</option>
                        <option value="tcw"  th:selected="${pageRequestDTO.type =='tcw'}" >제목 + 내용 + 작성자</option>
                    </select>
                </div>
                <input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}">
                <div class="input-group-append" id="button-addon4">
                    <button class="btn btn-outline-secondary btn-search" type="button">Search</button>
                    <button class="btn btn-outline-secondary btn-clear" type="button">Clear</button>
                </div>
            </div>
        </form>

        <table class="table table-striped">
            <thead>   <!--첫행 설정. 각 column 의 이름 설정-->
            <tr>
                <th scope="col">Gno</th>
                <th scope="col">Title</th>
                <th scope="col">Writer</th>
                <th scope="col">Regdate</th>
            </tr>
            </thead>
            <tbody>  <!--위에서 설정한 head와 묶이는 column 내용들을 채워준다-->

            <!--result에는 pageResultDTO 담겨있다 ( controller에서 Model로 담아서 전달)-->
            <tr th:each="dto : ${result.dtoList}" >  <!--th:each로 PageResultDTO안의 dtoList를 반복 처리-->
                <th scope="row">     <!-- dto.gno >> 각 페이지의 번호 를 링크처리, 누르면 해당 조회페이지로 이동
                                      +디폴트로 페이지 이동시(링크로)  페이지 번호, 사이즈 같이 전달하는 방식 사용.
                                       따라서 '/guestbook/read?gno=xxx&page=1&size=10' 처럼 긴 문자열 써야함
                                       thymeleaf 사용 시  링크 처리에서 파라미터와 값을 키=값 형태로 가능.

                                        아래 read는 GuestbookService(impl)의 방명록 조회 메소드 -->
                    <a th:href="@{/guestbook/read(gno = ${dto.gno},
                    page= ${result.page},type=${pageRequestDTO.type},keyword=${pageRequestDTO.keyword}   )}">
                    <!--특정 번호 클릭하여 조회페이지 이동하는 부분에서 type와 keyword 항목을 추가
                       해당 두 파라미터가 같이 전송 된다.  url에   type=~~~~&keyword=~~~& 추가됨  -->

                    [[${dto.gno}]]
                    </a>
                </th>
                <td>[[${dto.title}]]</td>
                <td>[[${dto.writer}]]</td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td> <!--마지막 regdate는 년/월/일 포맷으로-->
            </tr>
            </tbody>
        </table>


        <!--여기 아래부턴 페이지 처리. 페이지 버튼 누르면 page=1,2,3.... 페이지로 이동, prev, next 처리 -->
        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item " th:if="${result.prev}">

                <!--prev 는 start-1 페이지로 이동-->
                <a class="page-link" th:href="@{/guestbook/list(page= ${result.start -1})}" tabindex="-1">Previous</a>
            </li>

            <!--start~ end 현재 보이는 페이지들 출력 -->
            <li th:class=" 'page-item ' + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{/guestbook/list(page = ${page})}">
                    [[${page}]]
                </a>
            </li>

            <li class="page-item" th:if="${result.next}">

                <!--next 는 end+1 -->
                <a class="page-link" th:href="@{/guestbook/list(page= ${result.end + 1})}">Next</a>
            </li>
        </ul>

        <script th:inline="javascript">
            var msg = [[${msg}]];
            console.log(msg);
        </script>


        <!--register 시 save changes   or   close 둘 중 하나 선택하는 모달 창이 우선적으로 보이게 만들어짐 -->
        <div class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript">

            var msg = [[${msg}]];

            console.log(msg);

            if(msg){
                $(".modal").modal();
            }



        </script>



    </th:block>
</th:block>
</html>