<!DOCTYPE html>

<!--조회 페이지.  등록화면과 유사하지만 readonly 속성 적용, 다시 목록 페이지로 이동하는 링크와 수정과 삭제 기능 추가-->
<!--각 수정 삭제 는 새로운 페이지로 mapping 하여 처리. 수정, 삭제는 Post, 다시 목록으로 이동은 Get -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

  <th:block th:fragment="content">

    <h1 class="mt-4">GuestBook Modify Page</h1>

    <!--<form> 태그의 action 속성은 폼 데이터(form data)를 서버로 보낼 때 해당 데이터가 도착할 URL을 명시합니다.-->

    <form action ="/guestbook/modify" method="post">   <!--수정&삭제 페이지는 Post 방식이므로 form 태그로 수정하여 감싸주기-->
      <!--modift 작업에선 title과 content 만 수정 가능 하게 설정!  해당 수정 내용의 반영은 service 계층에서 처리-->

      <!--/modify  와  /read 로 이동할 떄 page번호도 ~~&page=4 형식처럼 파라미터도 url로 전달됨(get방식)
            이를 사용하여  page 정보를 form 데이터 안에 추가하여 수정 완료된 뒤에도 동일한 정보 유지하게 만들어준다. -->
      <!--페이지 번호  -->

      <!--조회페이지에서  page, type, keyword 정보 처리. -->
      <input type="hidden" name="page" th:value="${requestDTO.page}">
      <input type="hidden" name="type" th:value="${requestDTO.type}">
      <input type="hidden" name="keyword" th:value="${requestDTO.keyword}">


    <div class="form-group">
      <label >Gno</label> <!--수정 불가-->
      <input type="text" class="form-control" name="gno" th:value="${dto.gno}" readonly >
    </div>

    <div class="form-group">
      <label >Title</label>> <!--수정 가능-->
      <input type="text" class="form-control" name="title" th:value="${dto.title}"  >
      <!--수정 가능한것만 readonly속성 제거 하여 수정 가능하게 만들어준다.-->

    </div>
    <div class="form-group">
      <label >Content</label> <!--수정 가능-->
      <textarea class="form-control" rows="5" name="content" >[[${dto.content}]]</textarea>
    </div>
    <div class="form-group">
      <label >Writer</label> <!--수정 불가-->
      <input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
    </div>
    <div class="form-group">
      <label >RegDate</label>   <!--날짜 부분은 화면에서 수정 불가 + JPA가 알아서 처리해줌-->
      <input type="text" class="form-control"  th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
    </div>
    <div class="form-group">
      <label >ModDate</label>  <!--날짜 부분은 화면에서 수정 불가 + JPA가 알아서 처리해줌-->
      <input type="text" class="form-control"  th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
    </div>

    </form>

    <button type="button" class="btn btn-primary modifyBtn">Modify</button>

    <button type="button" class="btn btn-info listBtn">List</button>

    <button type="button" class="btn btn-danger removeBtn">Remove</button>

    <script th:inline="javascript">

      var actionForm = $("form"); //form 태그 객체

      $(".removeBtn").click(function(){

        actionForm
                .attr("action", "/guestbook/remove")
                .attr("method","post");

        actionForm.submit();

      });

      $(".modifyBtn").click(function() {

        if(!confirm("수정하시겠습니까?")){
          return ;
        }

        actionForm
                .attr("action", "/guestbook/modify")
                .attr("method","post")
                .submit();
      });

      $(".listBtn").click(function() {

        //var pageInfo = $("input[name='page']");
        var page = $("input[name='page']");
        var type = $("input[name='type']");
        var keyword = $("input[name='keyword']");

        actionForm.empty(); //form 태그의 모든 내용을 지우고

        actionForm.append(page);
        actionForm.append(type);
        actionForm.append(keyword);


        actionForm
                .attr("action", "/guestbook/list")
                .attr("method","get");

        actionForm.submit();

      })

    </script>


  </th:block>

</th:block>