<!DOCTYPE html>

<!--조회 페이지.  등록화면과 유사하지만 readonly 속성 적용, 다시 목록 페이지로 이동하는 링크와 수정과 삭제 기능 추가-->
<!--각 수정 삭제 는 새로운 페이지로 mapping 하여 처리. 수정, 삭제는 Post, 다시 목록으로 이동은 Get -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

  <th:block th:fragment="content">

    <h1 class="mt-4">GuestBook Read Page</h1>

    <div class="form-group">
      <label >Gno</label>
      <input type="text" class="form-control" name="gno" th:value="${dto.gno}" readonly >
    </div>

    <div class="form-group">
      <label >Title</label>>
      <input type="text" class="form-control" name="title" th:value="${dto.title}" readonly >
    </div>
    <div class="form-group">
      <label >Content</label>
      <textarea class="form-control" rows="5" name="content" readonly>[[${dto.content}]]</textarea>
    </div>
    <div class="form-group">
      <label >Writer</label>
      <input type="text" class="form-control" name="writer" th:value="${dto.writer}" readonly>
    </div>
    <div class="form-group">
      <label >RegDate</label>
      <input type="text" name= "RegDate" class="form-control" th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
    </div>
    <div class="form-group">
      <label >ModDate</label>
      <input type="text" name= "ModDate" class="form-control"  th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
    </div>



   <!-- <a th:href="@{/guestbook/modify(gno = ${dto.gno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
      <button type="button" class="btn btn-primary">Modify</button>
    </a>

    <a th:href="@{/guestbook/list(page=${requestDTO.page} , type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
      <button type="button" class="btn btn-info">List</button>
    </a> -->

    <!--url에 keyword, type 정보 포함시킨다! 조회페이지 > 수정 페이지 > 다시 조회 페이지 동안 url에 해당 정보 지니고 있게.-->
    <a th:href="@{/guestbook/modify(gno = ${dto.gno}, page=${requestDTO.page}, type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
      <button type="button" class="btn btn-primary">Modify</button>
    </a>

    <a th:href="@{/guestbook/list(page=${requestDTO.page} , type=${requestDTO.type}, keyword =${requestDTO.keyword})}">
      <button type="button" class="btn btn-info">List</button>
    </a>

  </th:block>

</th:block>
