<!DOCTYPE html>       <!--thymeleaf는 자동 생성되는 templates 폴더를 기본으로 사용한다-->
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!--xmlns로 thymeleaf 설정 Ultimate는 기본설정되있으나 코드 가독성위해-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    <li th:each="dto : ${list}" >
                  <!--  파라미터추가하기위해 키 = 값   형태로 추가-->
        <a th:href="@{/sample/exView/{sno}(sno=${dto.sno})}"> <!--thymeleaf의 링크처리는  @[] 를통해서 ( href는 링크 의미 )-->
            <!--만약 파라미터로 받은 sno 값을  /exView/3   처럼 path에 이용하고 싶으면 /{sno} 추가. -->
            [[${dto}]]
        </a>
    </li>
</ul>

</body>
</html>